textarea {
overflow: auto;
}

#wordtable {
	border: 2px solid #CCCCCC;
	border-collapse: collapse;
	margin-left: auto;
    margin-right: auto;
}
#wordtable td, #wordtable th {
	border: 1px solid #CCC;
	padding: 10px;
}

#wordtable th:nth-of-type(2) {
	text-align: left;
}

#wordtable td:nth-of-type(1), #wordtable th:nth-of-type(1) {
	width: 75px;
	text-align: center;
}

#wordtable th {
	font-weight: bold;
	font-size: 16px;
	background-color: #DDE9FF;
}

#wordtable tr.even {
	background-color: #ECF7FF;
}

#wordtable tr.odd {
	background-color: #FBFDFF;
}