<html>

<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
	<title>Ichimoku - Japanese text parser.</title>
	<link rel="stylesheet" type="text/css" href="styles/main.css">
	<script src="jscript/jquery-1.9.0.min.js"></script>
	<script language="javascript">
		$(document).ready(function(){
			$("#submitBtn").click(function () {
				$("#wordtable > thead > tr").remove();
				$("#wordtable > tbody > tr").remove();
				var text = $("#submitTextBox").val();
				$.ajax({
					type: 'post',
					url: '/',
					data: { "text" : text, "word" : 1, "reading" : 1,
						    "definition" : 1, "sentence" : 1 },
					dataType: "json",
					beforeSend:function(){
						//launchpreloader();
					},
					error: function(jqXHR, textStatus, errorThrown){
						//alert("fail!!");
					},
					success: function(result, textStatus, jqXHR){
						headRow = $('<tr></tr>').append("<th>Word</th>")
												.append("<th>Reading</th>")
												.append("<th>Meaning</th>")
												.append("<th>Definition</th>");
						$('#wordtable > thead:last').append(headRow);
						var table = $('#wordtable > tbody:last');
						result.forEach( function (element, row) {
						    var row = $('<tr></tr>').addClass(row % 2 ? "odd" : "even");
							element.forEach( function (cellText, column) {
								var cell = "<td>" + cellText + "</td>";
								row.append(cell);
							});
							table.append(row);
						});
					}
				});	
			});
		});
	</script>
</head>
<body>
	<h2>Enter a text to annotate</h2>
	<!-- <form action="/" method="post"> -->
        <div><textarea name="content" rows="10" cols="80" id="submitTextBox">ある日の暮方の事である</textarea></div>
        <div><input type="button" value="Annotate" id="submitBtn"></div>
	<div id="submitStatus"></div>
	<table id="wordtable">
		<thead>
			<!-- <tr> <th>Word</th><th>Reading</th><th>Meaning</th><th>Sentence</th></tr> -->
		<thead>
		<tbody>
		</tbody>
	</table>
</body>
</html>